*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:Poppins,sans-serif;
background:#050505;
color:white;
}

header{
position:fixed;
width:100%;
top:0;
left:0;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:rgba(0,0,0,.8);
backdrop-filter:blur(10px);
z-index:999;
}

.logo{
font-size:30px;
font-family:Cinzel,serif;
font-weight:bold;
color:#d4af37;
}

.logo span{
color:white;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:url("images/poza1.jpg") center/cover;
position:relative;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.65);
}

.hero-content{
position:relative;
z-index:5;
}

.hero h1{
font-size:70px;
font-family:Cinzel,serif;
color:#d4af37;
}

.hero h2{
margin-top:15px;
font-size:30px;
}

.hero p{
margin-top:20px;
font-size:20px;
}

.buttons{
margin-top:40px;
}

.btn{
padding:15px 35px;
text-decoration:none;
border-radius:40px;
margin:10px;
display:inline-block;
font-weight:bold;
transition:.3s;
}

.gold{
background:#d4af37;
color:black;
}

.gold:hover{
transform:scale(1.08);
}

.dark{
border:2px solid #d4af37;
color:#d4af37;
}

.dark:hover{
background:#d4af37;
color:black;
}

section{
padding:120px 10%;
}

section h2{
text-align:center;
margin-bottom:40px;
font-size:40px;
color:#d4af37;
font-family:Cinzel;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:#111;
padding:35px;
border-radius:15px;
text-align:center;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:#d4af37;
color:black;
}

.event{
text-align:center;
font-size:24px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.gallery img{
width:100%;
border-radius:20px;
transition:.4s;
}

.gallery img:hover{
transform:scale(1.05);
}

footer{
background:#111;
text-align:center;
padding:40px;
}
